.secundario{
	background: rgb(222,232,88);
	border: 1px solid red;
}

.font{
	font-size: 14px;
	color: red;

}

.icon{
	font-size:25px;
}


h5{
	text-align: center;
	font-size: 14px;

}

img{
	
	max-height: 120px;
}
